{% extends "base.html" %}

{% block content %}

    <table class="container">
        <tr>
            <td >Цвет стен</td>
            <td >Эмблема</td>
        </tr>
        <tr>
            {% if sex == 'female' %}

            <td><div id="rectangle_female"></div></td>

            {% endif %}
            {% if sex=='male' %}

            <td ><div id="rectangle_male"></div></td>
            {% endif %}
            {% if age >= 21 %}

            <td><img src="/static/img/old.png" alt="Фото" style="width: 300px; height: 300px;"></td>
            {% endif %}
            {% if age < 21 %}

            <td><img src="/static/img/young.png" alt="Фото" style="width: 300px; height: 300px;"></td>

            {% endif %}
        </tr>

    </table>


{% endblock %}
