{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<h2 align="center">Works log</h2>
{% for job in jobs %}
<h3>Action # {{ job.id }}</h3>
<div class="container">
    <table class="table">
        <tr class="row">
            <td class="title" width="400px" bgcolor="#dddddd">Title of activity</td>
            <td class="title" width="150px" bgcolor="#dddddd">Team leader</td>
            <td class="title" width="100px" bgcolor="#dddddd" align="center">Duration</td>
            <td class="title" width="200px" bgcolor="#dddddd" align="center">List of collaborators</td>
            <td class="title" width="100px" bgcolor="#dddddd" align="center">Is finished</td>
        </tr>
        <tr class="row">
            <td class="ordinary" bgcolor="#eeeeff">{{ job.job.capitalize() }}</td>
            <td class="ordinary" bgcolor="#eeeeff">{{ names[job.team_leader][0] }} {{ names[job.team_leader][1] }}</td>
            <td class="ordinary" bgcolor="#eeeeff" align="center">{{ job.work_size }} hours</td>
            <td class="ordinary" bgcolor="#eeeeff" align="center">{{ job.collaborators }}</td>
            {% if job.is_finished %}
            <td class="ordinary" bgcolor="#eeffee" align="center">Finished</td>
            {% else %}
            <td class="ordinary" bgcolor="#ffeeff" align="center">Is not finished</td>
            {% endif %}
        </tr>

    </table>
</div>
<br>
{% endfor %}

{% endblock %}