{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<h2 align="center">Jobs</h2>
<div class="container">
    {% for job in jobs %}
    <h3>Action #{{ job.id }}</h3>
    <table class="table">
        <tr >
            <th>Title of activity</th>
            <th >Team leader</th>
            <th>Duration</th>
            <th >List of collaborators</th>
            <th>Is finished</th>
        </tr>

        <tr>
            <td class="ordinary">{{ job.job.capitalize() }}</td>
            <td class="ordinary" >{{ names[job.team_leader][0] }} {{ names[job.team_leader][1] }}</td>
            <td class="ordinary">{{ job.work_size }} hours</td>
            <td class="ordinary">{{ job.collaborators }}</td>
            {% if job.is_finished %}
            <td class="ordinary" >Finished</td>
            {% else %}
            <td class="ordinary" >Is not finished</td>
            {% endif %}
        </tr>

    </table>
    {% if current_user.is_authenticated and (current_user.id == job.team_leader or current_user.id == 1) %}
    <div>
        <a href="/job/{{ job.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/job_delete/{{ job.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>
<br>


{% endblock %}