{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>пейзажи</h1>
                          <div class="content">
                          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">

                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="/static/mars/mars1.jpg" class="d-block w-500px" alt="1">
                                </div>
                                  {% for el in items %}
                                    <div class="carousel-item">
                                      <img src="/static/mars/{{ el}}" class="d-block w-500px">
                                    </div>
                                  {% endfor %}
                              </div>
                            </div>
                          </div>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.file.label }}<br>
            {{ form.file(class="form-control") }}<br>
            {% for error in form.file.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
</div>

{% endblock %}